@import '/src/assets/styles/mixins';

.header {
    padding: 25px 0 10px;
    &-inner {
        display: flex;
        align-items: center;
        &-left {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }
        &-right {
            //
        }
    }
    &-logo {
        display: block;
        height: 40px;
        width: 40px;
        @include media-breakpoint-up(md) {
            height: 50px;
            width: 50px;
        }
    }
    &-separator {
        height: 30px;
        width: 2px;
        background-color: rgba($color-dark, 0.15);
        margin: 0 15px;
        transition: background-color 0.2s linear;
        .theme-dark & {
            background-color: rgba($color-light, 0.15);
        }
    }
    &-slogan {
        color: rgba($color-dark, 0.5);
        .theme-dark & {
            color: rgba($color-light, 0.5);
        }
    }
}
