@import 'src/assets/styles/mixins';

.favorite-stocks-list {
    &-inner {
        display: flex;
        align-items: center;
        .symbol {
            font-size: 22px;
            flex-grow: 1;
            @include media-breakpoint-up(md) {
                flex-grow: 0;
            }
        }
        .company,
        .separator {
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
        .company {
            flex-grow: 1;
        }
        .separator {
            margin: 0 15px;
            height: 15px;
            border-right: 1px solid rgba($color-dark, 0.4);
            .theme-dark & {
                border-right-color: rgba($color-light, 0.3);
            }
        }
        .latest-price {
            font-weight: bolder;
            padding: 0 15px;
        }
        .change-percentage {
            padding: 0 15px;
        }
    }
}
