/**
	Includes the colors
 */

$theme-light-bg: #f4f4f4;
$theme-light-body: #333;
$theme-light-muted: #666;
$theme-light-gray: #ddd;

$theme-dark-bg: #191e24;
$theme-dark-body: #fff;
$theme-dark-muted: #858d9a;
$theme-dark-muted-dark: #22262f;
$theme-dark-gray: #333;

// blue
$color-blue: #005ECD;
$color-red: #C5013A;
$color-yellow: #7e7e34;
$color-green: #155724;
